.newnavbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0a8ef4;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .newnavbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .newnavbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .newnavbar-links li {
    display: inline-block;
  }
  
  .newnavbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
  }
  
  .newnavbar-links a:hover {
    color: #66cc99;
  }
  